{% extends 'partials/base.html' %} {% load static %} {% block content %}


  <!--------Main Content------------>
  <main id="main" class="main">

    <!------Savings/Loss Report Heading---------->
    <div class="assets-container">
        <div class="scheduled-heading">
            <div class="scheduled-heading_text">
              <i class="fa-solid fa-sliders filter-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Filter"></i>
              <span>
                <i class="fa-solid fa-magnifying-glass" onclick="searchTable()"></i>
                <input type="search" id="searchInput" placeholder="Search savings/loss report...">
              </span>
              <h3><a href="">Savings/loss report</a></h3>
            </div>
              <div class="scheduled-icon">
                <i class="fa-solid fa-table-cells" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Table view"></i>
              </div>
          </div>
      
          <div class="scheduled_empty-div">
            <div class="right-heading">
              <label for="rows" class="label">No of rows</label><br>
              <select name="rows" id="rows" class="form-select" onchange="updateRows()">
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="5">5</option>
                <option value="10">10</option>
              </select>
            </div>
          </div>
      
          <!--------Savings/Loss Report Body------------------->
          <div class="scheduled-body">
            <p>Showing - of 0</p>
          </div>
    </div>
    

    
    
  </main>
  
  
  
  
  


{% endblock content %}